<%= provide(:title, 'Home') %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
  <div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to 'Todo Rails', root_path, class: 'navbar-brand' %>

  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Todos', todos_path %></li>
      <li><%= link_to 'Contact', contact_index_path %></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
</nav>

<div class="container">

<div class="starter-template">
  <h1>Todo Rails</h1>
  <p class="lead">A simple todo list application written in Ruby on Rails by Ross Ward.</p>
</div>

</div><!-- /.container -->
