<h1>All Tasks</h1>
<%= link_to "add", new_todo_path %>
<table>
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Last Modified</th>
	</tr>

	<% @todos.each do |todo| %>
  <tr>
  	<td><%= todo.title %></td>
  	<td><%= todo.description %></td>
  	<td><%= todo.updated_at %></td>
  </tr>
  <% end %>
</table>